/* index.css */

/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar Styles */
.navbar {
    background: green;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo img {
    height: 50px;
}

.nav-text p {
    color: white;
    margin: 0;
    text-align: center;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.nav-links a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 5px;
    margin: 0 10px;
    position: relative;
}

.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.nav-links a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.nav-links a:hover::after {
    width: 100%;
    left: 0;
}

.toggle-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.toggle-button div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
    transition: transform 0.3s ease;
}

.nav-links-mobile {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background: green;
}

.nav-links-mobile a {
    padding: 14px;
    border-bottom: 1px solid white;
}

.nav-links-mobile a:last-child {
    border-bottom: none;
}

.nav-links.show {
    display: flex;
}

.nav-links-mobile.show {
    display: flex;
}

/* Animation Styles */
@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
    }

    .nav-links {
        display: none;
    }

    .toggle-button {
        display: flex;
    }

    .nav-links-mobile a {
        animation: slideIn 0.5s forwards;
    }
}

/* Product Styles */
.product {
    width: 30%;
    margin: 10px;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .products-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .product {
        width: 90%;
    }
}
